

h1{
color: rgb(196, 58, 196);
font-family: "Times New Roman", Times, serif;
font-size: 46px;
text-align: center;
margin-left: 0%;
}

.formularz {

    background-position: center center;
    text-align: center;
    color: rgb(122, 228, 122)

}